@page "/produtos"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Produtos</PageTitle>

@{
    if (produtos is not null && produtos.Any())
    {
        <h1>Listagem de Produtos</h1>
        <FluentCard Style="padding: 10px; margin-bottom: 30px;" Height="Auto">
            <FluentStack VerticalAlignment="VerticalAlignment.Center" Style="padding-bottom: 4px;">
                <FluentButton Type="ButtonType.Button" OnClick="InvokeTelaCadastro" Appearance="Appearance.Accent">Novo</FluentButton>
                <FluentButton Type="ButtonType.Button" OnClick="ExcluirProdutos" Appearance="Appearance.Accent" BackgroundColor="red">Excluir</FluentButton>
                <FluentButton Type="ButtonType.Button" OnClick="InvokeTelaAlteracao" Disabled="@ValidaBotaoEditar()" BackgroundColor="purple" Color="white">Editar</FluentButton>
            </FluentStack>

            <FluentDivider />

            <FluentDataGrid Items="@produtos" ShowHover="true" Style="max-height: 80vh; overflow-y: auto" TGridItem="Produto">
                <SelectColumn TGridItem="Produto"
                              SelectMode="DataGridSelectMode.Multiple"
                              SelectFromEntireRow="true"
                              @bind-SelectedItems="@SelectedItems" />
                <PropertyColumn Width="100px" Property="@(p => p.Id)" Title="Id" />
                <PropertyColumn Width="300px" Property="@(p => p.Nome)" />
                <PropertyColumn Width="300px" Property="@(p => p.Descricao)" />
            </FluentDataGrid>
        </FluentCard>
    }
    else
    {
        <FluentLabel Typo="Typography.H2">Não há produtos cadastrados.</FluentLabel>
    }
}


<TrocaVisualizacao PrimeiraDefinicao="false" bDesabilitaDialogTrocaVisu="@bDesabilitaDialogTrocaVisu" />

<FluentStack Style="position: fixed; bottom: 20px; left: 10px;" Width="15%">
    <FluentButton BackgroundColor="purple" Color="white" OnClick="() => bDesabilitaDialogTrocaVisu = false">Altera Modo Visualização</FluentButton>
</FluentStack>

<Loading ExibeLoading="@sessaoUsuario._loading" />

@code {
    [Inject] private SessaoUsuario sessaoUsuario { get; set; }
    [Inject] private IProdutoService ProdutoService { get; set; }
    public IEnumerable<Produto> SelectedItems = new List<Produto>();
    public IQueryable<Produto>? produtos;
    public bool bDesabilitaDialogTrocaVisu { get; set; } = true;

    protected async override Task OnInitializedAsync()
    {
        TiposUsuario = EnumHelper.GetEnumItems<TipoUsuario>();
        var resultadoProdutos = await ProdutoService.GetAllProdutos();
        produtos = resultadoProdutos.AsQueryable();
    }

    private async void InvokeTelaCadastro()
    {
        _navigationManager.NavigateTo("/cadastroProduto");
    }

    private async void InvokeTelaAlteracao()
    {
        if (SelectedItems.Count() == 1)
        {
            _navigationManager.NavigateTo($"/cadastroProduto/{SelectedItems.FirstOrDefault().Id}");
        }
        else
        {
            ToastService.ShowError("Você deve selecionar apenas 1 cadastro para ser editado.");
        }
    }

    private async void ExcluirProdutos()
    {
        bool sucesso = await ProdutoService.DeletarProdutos(SelectedItems.ToList());
        if (sucesso)
        {
            ToastService.ShowSuccess("Exclusão bem sucedida.");
            var resultadoProdutos = await ProdutoService.GetAllProdutos();
            produtos = resultadoProdutos.AsQueryable();
        }
    }

    private bool ValidaBotaoEditar()
    {
        return SelectedItems.Count() != 1;
    }

    private List<EnumItem<TipoUsuario>> TiposUsuario;

    private void OnTipoUsuarioChanged(string selectedValue)
    {
        sessaoUsuario.TipoUsuario = TiposUsuario.FirstOrDefault(item => item.Description == selectedValue)?.Value ?? sessaoUsuario.TipoUsuario;
    }
}
